<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<script>
		document.getElementsByTagName('html')[0].style.fontSize=window.screen.width/30+"px"
	</script>
    <style>
    *{
      box-sizing: border-box;
	  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    }
    html body{
      margin: 0;
      height: 100%;
      width: 100%;
    }
    .content p{
      padding-left: 1rem;
      margin: 0;
    }
    .header{
      background-image: url(/images/product-bg.jpg);
      background-size: cover;
      text-align: center;
      /*vertical-align: bottom;*/
      width: 100%;
      height: 10rem;
      position: relative;
    }
    .img-div{
      position: absolute;
      top: 1rem;
      text-align: center;
      width: 100%;
    }
    .headimg{
      width: 5rem;
	  height: 5rem;
      border-radius: 50%;
      position: static;
    }
    .title{
      width: 100%;
      height: 4.5rem;
      background-color: rgba(18, 17, 17, 0.20);
      position: absolute;
      bottom: 0rem;
      text-align: center;
    }
    .title p{
      color:#ffffff;
      margin: 0.5rem;
    }
    .img-box{
      margin-top: 0.5rem;
	  position: relative;
	  text-align: center;
	  height: 300px;
    }
    .product-img{
      display: inline-block;
      height: 300px;
      width: 100%;
    }
	.img-hidden{
		display: none;
	}
	.img-show{
		-webkit-animation: showing 1s;
		-webkit-animation-fill-mode: forwards;
		animation: showing 1s;
		animation-fill-mode: forwards;

	}
	@-webkit-keyframes showing{
		0% {-webkit-transform:scale(0.0)}
		100% {-webkit-transform:scale(1)}
	}
	@keyframes showing{
		0% {transform:scale(0.0)}
		100% {transform:scale(1)}
	}
	.switch-img{
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(18, 17, 17, 0.20); 	
	}
	.switch-img li{
		width :1rem;
		height: 1rem;
		margin-right: 0.5rem;
		list-style-type:none;
		display: inline-block;
		color: #ffffff;
		background-image: url("/images/icon/bullet_white.png");
		background-size: cover;
	}
	.switch-img .selected{
		background-image: url("/images/icon/bullet_black.png");
	}
    .product-title{
      margin-bottom: 0.5rem;
      height: 2rem;
    }
    .product-title *{
      float: left;
    }
    .product-title span{
      padding-left: 1rem;
      width: 80%;
    }
    .product-title button{
        width: 19%;
		margin-right: 1%;
        height: 2rem;
        background-color: rgb(255, 108, 0);
		border: none;
        border-radius: 5px;
        color: #ffffff;
    }
    .product-price{

      /*background-color: rgba(245, 186, 10, 0.28);*/
    }
    .product-price p:first-child span:first-child{
      font-size: 2rem;
      color: rgb(255, 108, 0);
      margin-right: 1rem;
    }

    .customer-box{
      text-align: center;
    }
    .customer-box .customer{
      padding: 0.5rem;
      margin: 0;
    }
    .customer-box .customer span{
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('/images/icon/wechat_icon.png');
        background-size: cover;
    }
    .customer-box .tip{
      color: rgb(240, 19, 5);
      padding: 1rem;
    }
    .level-distribution{
      /*background-color: rgba(244, 178, 10, 0.35);*/
      text-align: left;
    }

    .level-distribution p:first-child span:first-child {
        font-size: 2rem;
        color:rgb(255, 108, 0);
        margin-right: 2rem;
    }
    .level-distribution .level span{
      margin-right: 1rem;
    }

    /*.headquarters{
      background-color: rgba(244, 178, 10, 0.35);
    }*/

    .headquarters p:first-child{
	  margin-top:1rem;
      font-size: 2rem;
      color:rgb(255, 108, 0);
    }
    .headquarters .info span{
      display: inline-block;
      width: 50%;
    }

    .width-button{
      width: 100%;
      background-color: rgb(255, 108, 0);
      height: 2rem;
      color: #ffffff;
      font-size: 1.2rem;
	  border: none;
    }
    .info-box p{
      padding: 0.5rem;
    }
    .info-backgroud{
      background-color: rgb(255, 238, 220);
	  color: grey;
    }

    </style>
	</head>
<body>
    <div class="header">
      <div class="img-div">
        <img class="headimg" src="<%=@member.headimgurl%>" />
      </div>
      <div class="title">
            <p><%=@member.nickname || "无名"%></p>
            <p>微信号:<%=@member.wechat_number || "暂无"%></p>
      </div>
    </div>
    <div class="content">
      <div class="img-box">
	  	<%@product.images.each_with_index do |img,index|%>
        	<img class="product-img <%=index == 0 ? "" : "img-hidden"%>" src="<%=img.image_path%>" />
		<%end%>
		<ul class="switch-img">
			<%@product.images.size.times do |index|%>
				<li class="<%=index == 0 ? "selected" : ""%>" target="<%=index%>"></li>
			<%end%>
		</ul>
      </div>
      <div class="product-title">
        <span><%=@product.name%></span>
        <button id="buy">去购买</button>
      </div>
      <div class="product-price info-backgroud">
        <p ><span>$<%=@product.price%></span><span>库存:<%=@product.get_stock%></span></p>
        <p><span>快递:<%= @product.free_postage? ? '包邮' : "不包邮"%></span></p>
      </div>
      <div class="product-introduction info-box">
        <p><%=@product.introduction%></p>
      </div>
	  <div class="customer-box">
	  	<p class="customer">客服、发货请找微信<span></span><%=@member.wechat_number || "暂无"%></p>
        <button id="agency-buy" class="width-button">立即购买</button>
		<%if @product.is_threshold%>
        <p class="tip">购买此商品可立即成为分销商享3级利润</p>
		<%end%>
	  </div>
	<%if @can_show >=2%>
        <div class="level-distribution info-box info-backgroud">
            <p><span>代理商</span><span>此商品佣金比例</span></p>
            <p class="level">
				<%@product.level_distributions.each do |distribution|%>
				<span>第<%=distribution.level%>级:<%=distribution.cost%>元</span>
				<%end%>
			</p>
            <button id="withdraw" class="width-button">去提现</button>
      	</div>
	<%end%>
	<%if @can_show>=3%>
      <div class="headquarters info-box info-backgroud">
        <p>总部</p>
        <p class="info"><span>成本价:$<%=@product.cost%></span><span>浏览总数:3877次</span></p>
        <p class="info"><span>成交总额:$123123.90</span><span>发出佣金:$1212.0</span></p>
        <p>备注:<%=@product.mark%></p>
        <button id="manage" class="width-button">去管理</button>
      </div>
	 <%end%>
    </div>
    <%=javascript_include_tag 'jquery'%>
<script>
		window.addEventListener('load',load, false); 
		function load(){
			$(".switch-img li").click(function(){
				$(".product-img").addClass("img-hidden")
				$(".product-img").removeClass("img-show")
				$(".product-img").eq($(this).attr("target")).removeClass("img-hidden").addClass("img-show")
				$(".switch-img li").removeClass("selected")
				$(this).addClass("selected")
			})
		}
	</script>

</body>
</html>
